<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="rowIndex">
        <th  *matHeaderCellDef> Index</th>
        <td mat-cell *matCellDef="let element;index as i;"  style = "text-align: center;"> {{ i }} </td>
      </ng-container>

      <ng-container matColumnDef = "nameDesert">
        <th  *matHeaderCellDef style = "text-align: center;"> Name </th>
        <td mat-cell *matCellDef="let element" style = "text-align: center;"> {{element.nameDesert}} </td>
      </ng-container>
    
      <ng-container matColumnDef="price" style = "text-align: center;">
        <th  *matHeaderCellDef style = "text-align: center;"> Price</th>
        <td mat-cell *matCellDef="let element" style = "text-align: center;"> {{element.price}} &euro;</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #e6ffee;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSize] = "4" [pageSizeOptions]="[4, 6, 8]" showFirstLastButtons></mat-paginator>
</div>